<script>
    var dadosDisciplinas = {{{dadosDisciplinas}}};
</script>

<link rel="stylesheet" href="css/consultar_turmas.css">
<script src="js/consultar_turmas.js"></script>

<div id="combobox" class="flex-container combobox" style="width: 1220px; height: 150px">
    <div class="selectbox">
        <label class="textSel">Consultar turmas</label><br></br>
        <select id="select-disciplinas" name="select-disciplinas" onchange="pegarDisciplinaSelecionada();">
            <option value="" selected>Selecione uma disciplina</option>
        </select>
    </div>
</div>