{{>index}}

<script>
  var dadosMatriculas = {{{dadosMatriculas}}};
  var dadosIntegralizacoes = {{{dadosIntegralizacoes}}};
  var dadosSomaCH = {{{dadosSomaCH}}};
</script>

<link rel="stylesheet" href="css/graficos/style.css">
<link rel="stylesheet" href="css/graficos/ch_cumprida.css">
<script src="js/graficos_ch_cumprida/grafico_1.js"></script>
<script src="js/graficos_ch_cumprida/grafico_2.js"></script>
<script src="js/graficos_ch_cumprida/grafico_3.js"></script>

<div class="home_content">
  <div class="content">
    <div class="text"><h3>Alunos com percentual de CH. cumprida</h3></div>
    <br>
    <div class="text">
      <section class="flex-container">
        <div id="piechart" class="graficos piechart"></div>
        <div id="donutchart" class="graficos donutchart"></div>
        <div id="curve_chart" class="graficos curve_chart"></div>
      </section>
    </div>
  </div>
</div>
