{{>index}}
<section id="dadosMatriculas" style="display: none;">{{dadosMatriculas}}</section>
<section id="dadosIntegralizacoes" style="display: none;">{{dadosIntegralizacoes}}</section>
<section id="dadosSomaCH" style="display: none;">{{dadosSomaCH}}</section>

<link rel="stylesheet" href="css/graficos/style.css">
<script src="js/graficos_ch_cumprida/grafico_1.js"></script>
<script src="js/graficos_ch_cumprida/grafico_2.js"></script>
<script src="js/graficos_ch_cumprida/grafico_3.js"></script>

<div class="home_content">
  <div class="content">
    <div class="text"><h3>Alunos com percentual de CH. cumprida</h3></div>
    <br>
    <div class="text">
      <section class="flex-container">
        <div id="piechart" class="graficos" style="width: 600px; height: 300px;"></div>
        <div id="donutchart" class="graficos" style="width: 600px; height: 300px;"></div>
        <div id="curve_chart" class="graficos" style="width: 1220px; height: 300px"></div>
      </section>
    </div>
  </div>
</div>
