{{>index}}

<div class="home_content">
  <div class="content">
    <div class="text"><h1>Situação dos alunos de BTI</h1></div>
    <br>
    <div class="text">
      <h2>Bases de dados</h2>
      <h4>Alunos com percentual de CH. cumprida</h3>
      <h4>Relatório de ingressos, retenções e egressos</h3>
      <h4>Relatório sintético de insucessos de alunos</h3><br>
      <h5>Selecione as bases de dados na barra lateral</h4>
    </div>
  </div>
</div>
