{{>index}}

<style>
    #graficos-pontos{
        margin-left: 30px;
    }
</style>

<div class="home_content">
  <div class="content">
    <div class="text"><h1>Relatório de insucessos</h1></div>
    <br>
    <div class="text">
      <h2>Descrição</h2>
      <h4>Relatório que mostra a quantidade de trancamentos, cancelamentos e integralizações de alunos de um determinado período e em qual período essas ações ocorreram.</h4><br>
      <h2>Gráficos a serem extraídos</h2>
      <ul id="graficos-pontos">
          <li>
            Quantos alunos ingressaram em cada período;
          </li>
          <li>
            Quantidade de alunos ativos em cada período;
          </li>
          <li>
            Períodos em que houveram mais trancamentos, cancelamentos e integralizações;
          </li>
          <li>
            A quais períodos pertencem os maiores índices de trancamentos, cancelamentos e integralizações;
          </li>
          <li>
            Média de trancamentos, cancelamentos e integralizações por período.
          </li>

      </ul>
    </div>
  </div>
</div>