<!-- Boxicons CDN Link -->
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

<div class="sidebar">
  <div class="logo_content">
    <div class="logo">
      <i class='bx bxl-dailymotion' ></i>
      <div class="logo_name">Dashboard</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav_list">
      <li>
          <i class='bx bx-search'></i>
          <input type="text" placeholder="Procurar...">
          <span class="tooltip">Procurar</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-bar-chart-square'></i>
          <span class="links_name">CH Cumprida</span>
        </a>
          <span class="tooltip">CH Cumprida</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-bar-chart-square'></i>
          <span class="links_name">Ingressos, egressos <br>e retenções</span>
        </a>
          <span class="tooltip">I, E, R</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-bar-chart-square'></i>
          <span class="links_name">Insucessos</span>
        </a>
          <span class="tooltip">Insucessos</span>
      </li>
    </ul>
  </div>
</div>
<div class="home_content">
    <div class="content">
      <div class="text"><h1>Situação dos alunos de BTI</h1></div>
      <br>
      <div class="text">
        <h2>Bases de dados</h2>
        <h4>Alunos com percentual de CH. cumprida</h3>
        <h4>Relatório de ingressos, retenções e egressos</h3>
        <h4>Relatório sintético de insucessos de alunos</h3><br>
        <h5>Selecione as bases de dados na barra lateral</h4>
      </div>
    </div>
</div>
