#combobox{
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #f6f6f6;
    box-shadow: 0 5px 10px rgba(0 , 0, 0, 0.3);
    border-radius: 30px;
    align-items: center;
}
.selectbox{
    margin-left: 60px;
    margin-left: auto;
    margin-right: auto;
}
.selectbox .textSel{
    color: black;
    margin-left: 150px;
    margin-right: auto;
}
#select-disciplinas{
    padding: 0.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
